/* ====================================================== */
/* GENERAL FORMATTING */
/* ====================================================== */
/* Fonts */
@font-face {
  font-family: "Aktura-Regular";
  src: url("../Fonts/Fonts/WEB/fonts/Aktura-Regular.woff2") format("woff2"),
    url("../Fonts/Fonts/WEB/fonts/Aktura-Regular.woff") format("woff"),
    url("../Fonts/Fonts/WEB/fonts/Aktura-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --yellow: #f0ff29;
  --body-text-font: "Alata", sans-serif;
  --header-margin-top: 70px;
  --small-screen-padding: 2rem;
}

html {
  background: rgb(224, 224, 224);
}

body {
  overflow-x: hidden;
}

/* for very large screens */
.container {
  max-width: 1800px;
}

@media screen and (min-width: 900px) {
  .hover-grow {
    transform: scale(1);
    transition: 0.3s;
  }

  .hover-grow:hover {
    transform: scale(1.1);
  }

  .hover-animate:hover {
    animation: pulse 1s;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
}



.yellow-text {
  color: var(--yellow);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 0;
}

.logo-div {
  grid-area: logo;
}

.socials {
  grid-area: socials;
}

.intro {
  grid-area: intro;
}

.contact {
  grid-area: contact;
}

.about-me {
  grid-area: about-me;
}

.current-projects {
  grid-area: current-projects;
}

#mobile-socials {
  display: none;
}

/* ====================================================== */
/* BACKGROUND */
/* ====================================================== */
.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -11;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: black;
  mix-blend-mode: overlay;
}

/* ====================================================== */
/* LOGO/SOCIALS */
/* ====================================================== */

.socials a {
  text-decoration: none;
  color: white;
}

.socials ul li {
  font-family: var(--body-text-font);
}

.logo,
.mobile-socials-logo {
  color: white;
  font-family: "Aktura-Regular", serif;
}

/* ====================================================== */
/* INTRODUCTION */
/* ====================================================== */
h1 {
  font-family: var(--body-text-font);
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: var(--body-text-font);
  font-weight: 400;
  color: white;
  margin: 0;
}

.body-text {
  color: white;
  font-family: var(--body-text-font);
}

/* ====================================================== */
/* GET IN TOUCH BUTTON */
/* ====================================================== */
button {
  background: none;
  color: var(--yellow);
  font-family: var(--body-text-font);
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 5px 5px #888888;
}

/* button:hover {
  
} */

button:active {
  position: relative;
  top: 5px;
  left: 5px;
  box-shadow: none;
}

.copy-message {
  font-family: var(--body-text-font);
  color: rgb(82, 82, 82);
  font-size: 13px;
  margin-top: 10px;
}

/* ====================================================== */
/* CURRENT PROJECTS */
/* ====================================================== */
.projects-title {
  color: white;
  font-family: var(--body-text-font);
}

.projects {
  background: var(--yellow);
  color: black;
  text-decoration: none;
  font-family: var(--body-text-font);
  list-style-type: none;
  padding: 0.3em 0.8em;
  line-height: 2em;
}

.current-projects ul {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SMALL SCREENS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 749px) {
  /* ====================================================== */
  /* (SMALL) GENERAL FORMATTING */
  /* ====================================================== */
  .body-text {
    font-size: 13px;
    margin-bottom: 1em;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.75fr 1fr 1fr;
    /* grid-auto-flow: row; */
    grid-template-areas:
      "logo"
      "intro"
      "contact"
      "about-me"
      "current-projects";
    padding: var(--small-screen-padding);
  }
  /* ====================================================== */
  /* (SMALL) BACKGROUND */
  /* ====================================================== */

  /* ====================================================== */
  /* (SMALL) LOGO/SOCIALS */
  /* ====================================================== */
  .logo,
  .mobile-socials-logo {
    font-size: 100px;
  }

  .socials {
    background: black;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: var(--small-screen-padding);
    transition: all 0.2s ease;
  }

  .socials li {
    font-size: 25px;
    line-height: 50px;
  }

  .menu-button,
  .close-button {
    position: absolute;
    top: var(--small-screen-padding);
    right: var(--small-screen-padding);
    fill: white;
    cursor: pointer;
  }

  #mobile-socials:checked ~ .socials {
    left: 0;
  }
  /* ====================================================== */
  /* (SMALL) INTRODUCTION */
  /* ====================================================== */
  h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 14px;
    margin-bottom: 2rem;
  }
  /* ====================================================== */
  /* (SMALL) GET IN TOUCH BUTTON */
  /* ====================================================== */

  button {
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    height: 61px;
  }

  .copy-message {
    text-align: center;
  }
  /* ====================================================== */
  /* (SMALL) CURRENT PROJECTS */
  /* ====================================================== */
  .projects-title {
    font-size: 15px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* LARGE SCREENS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 750px) {
  /* ====================================================== */
  /* (LARGE) GENERAL FORMATTING */
  /* ====================================================== */

  .container {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 0.8fr 0.7fr;
    gap: 0px 1rem;
    grid-auto-flow: row;
    grid-template-areas:
      "logo socials"
      "intro contact"
      "about-me current-projects";
  }

  /* ====================================================== */
  /* (LARGE) BACKGROUND */
  /* ====================================================== */

  /* ====================================================== */
  /* (LARGE) LOGO/SOCIALS */
  /* ====================================================== */
  .logo-div {
    margin-top: 50px;
  }

  .logo {
    font-size: 109px;
  }

  .mobile-socials-logo {
    display: none;
  }

  .socials ul {
    padding: 0;
    margin-top: var(--header-margin-top);
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
  }

  .socials ul li {
    display: inline-block;
    font-size: 23px;
  }

  .socials {
    grid-area: socials;
  }

  .menu-button,
  .close-button {
    display: none;
  }

  /* ====================================================== */
  /* (LARGE) INTRODUCTION */
  /* ====================================================== */
  h1 {
    font-size: 74px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 2rem;
  }

  .body-text {
    font-size: 25px;
    padding-bottom: 1em;
    padding-right: 8rem;
  }
  /* ====================================================== */
  /* (LARGE) GET IN TOUCH BUTTON */
  /* ====================================================== */
  button {
    font-size: 25px;
    width: 272px;
    height: 101px;
  }
  /* ====================================================== */
  /* (LARGE) CURRENT PROJECTS */
  /* ====================================================== */

  .projects-title {
    font-size: 25px;
  }
  .projects {
    font-size: 25px;
  }
}
