:root {
  --yellow: #f0ff29
}

html {
  background: black;
}

header {
  display: flex;
}

nav {

}

.logo {
  background: white;
  font-family: Aktura-Regular, serif;
}

.yellow-text {
  color: var(--yellow);
}

button {
  background: none;
  color: var(--yellow);
  border: 2px solid white;
  padding: 1em;
}

.body-text {
  color: white;
}

.projects {
  background: var(--yellow);
  color: black;
  text-decoration: none;
  padding: .2em;
  line-height: 2em;
}